@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-prev {

  position: absolute !important;
  left: 20px !important;
  z-index: 10;
}

.slick-next {
  position: absolute !important;
  right: 20px !important;
  z-index: 10;
}

.carosol-text {
  background-color: rgba(63, 63, 63, 0.3);

}

.programs-card:hover .programs-icon {
  color: #60004B;
}

.our-team-card {
  /* background: rgb(52, 72, 91); */
  background: linear-gradient(0deg, rgb(5, 58, 107) 0%, rgba(0, 0, 0, 0) 40%);
}
.our-team-card:hover{
  background: rgba(9, 48, 84, 0.789);
}
.custom-bg{
  background: rgba(0, 0, 0, 0.3);
}
.custom-background{
  background: rgb(0, 0, 0,0.4); 
}
.comment-bg{
  background-image: url('../src/image/osis1.jpg');
  background-attachment: fixed;
  /* background-position: center;  */
  background-repeat: no-repeat; 
  background-size: cover; 
}
.category{
  position: sticky;
  top: 75px;
  padding: 30px 20px;
}
.socil-icon-transform:hover{
  transform: translate(-.3rem, -.3ex);
}